.outterbox{
    display: flex;
    justify-content: center;
}

.box1 {
    max-width: max-content;
    min-width: 10rem;
    min-height: 2rem;
    max-height: fit-content;
    /* background-color: var(--green); */
    /* border-radius: 5px; */
    /* box-shadow: 2px 5px 5px #484848; */
}
.box1 span{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
